<div class="m_wrapper">
    <div class="name">
      <%= @word.name %>
    </div>
    <div class="meaning text_display">
      <p class="text_left">意味</p>
      <p class="text_right"><%= @word.meaning %></p>
    </div>
    <div class="example text_display">
      <p class="text_left">例 ）</p>
      <p class="text_right"><%= @word.example %></p>
    </div>
    <div class="language text_display">
      <p class="text_left">言語</p>
      <p class="text_right"><%= @word.language %></p>
    </div>

    <% if user_signed_in? && current_user.id == @word.user_id %>
      <div class="btn_wrapper">
        <%= link_to '編集', edit_word_path(@word.id), method: :get, class: "btn" %>
        <%= link_to '削除', word_path(@word.id), method: :delete, class: "btn" %>
        <a href="/" class="btn">戻る</a>
      </div>
    <% end %>

    <div class="comment_form_wrapper">
      <% if user_signed_in? %>
        <%= form_with(model: [@word, @comment], local: true, class: "form_with") do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment_form" %>
          <%= form.submit "SEND", class: "form_btn" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <h4 class="comment_list">＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</div>