<!DOCTYPE html>
<html>
  <head>
    <title>Programming Words</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="h_wrapper">
      <h1><a href="/">Programming Words</a></h1>
      <%# ↓PCメニュー %>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "マイページ", "/users/#{current_user.id}", class: "header_btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_btn" %>
          <%= link_to "単語登録する", new_word_path, class: "post", class: "header_btn" %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: "header_btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header_btn" %>
        </div>
      <% end %>
      <%# ↓スマホメニュー %>
      <div class="sp_nemu">
        <input type="checkbox" id="nav_input" class="nav_invisible">
        <label id="nav_open" for="nav_input"><span></span></label>
        <div class="nav_contents">
          <% if user_signed_in? %>
            <div class="sp_user_nav">
              <%= link_to "マイページ", "/users/#{current_user.id}", class: "sp_header_btn" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sp_header_btn" %>
              <%= link_to "単語登録する", new_word_path, class: "post", class: "sp_header_btn" %>
            </div>
          <% else %>
            <div class="sp_user_nav">
              <%= link_to "ログイン", new_user_session_path, class: "sp_header_btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "sp_header_btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </header>
    <%= yield %>
    <footer>
      <div class="f_wrapper">
        <p class="f_text">© 2021 TomonoriYoshimura</p>
      </div>
    </footer>
</body>
</html>

