<!DOCTYPE html>
<html>
  <head>
    <title>Programming Words</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="h_wrapper">
      <h1><a href="/">Programming Words</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span class="header_btn"><%= link_to "マイページ", "/users/#{current_user.id}" %></span>
          <span class="header_btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
          <span class="header_btn"><%= link_to "単語登録する", new_word_path, class: "post" %></span>
        </div>
      <% else %>
        <div class="grid-6">
          <span class="header_btn"><%= link_to "ログイン", new_user_session_path, class: "post" %></span>
          <span class="header_btn"><%= link_to "新規登録", new_user_registration_path, class: "post" %></span>
        </div>
      <% end %>
    </div>
  </header>
    <%= yield %>
    <footer>
      <div class="f_wrapper">
        <p class="f_text">@Tomonori Yoshimura</p>
      </div>
    </footer>
</body>
</html>
